---
import { Image } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro';
import profileRef from '../../assets/profile.png'; 

import { Button } from "@/components/ui/button"
import { Textarea } from "@/components/ui/textarea"

const { address, representatives } = Astro.props;
const today = new Date().toLocaleString('default', {
    weekday: 'long',
    day: 'numeric',
    month: 'long',
    year: 'numeric',
});
const pageTitle = "Draft Your Letter";

---
<BaseLayout pageTitle={pageTitle}>
    <form method="POST" action="/send.json">
    <div class="flow-root">  
        <div class="w-2/3 md:w-1/3 md:float-right">
            <i>
                from:
            </i>
            <p>
                {address.name} <br />
                {address.street} <br />
                {address.city}, {address.state} {address.zipcode}
            </p>
        </div>
    </div>
    <div class="flow-root">  
        <div class="w-2/3 md:w-1/2 md:float-left">
            <div class="flex flex-row">
                {representatives.map((rep: { [x: string]: string; }) => 
                    <Image class="w-1/3 m-1" src={rep['photoURL']} alt={rep['name']} inferSize={true}/>
                )}
            </div>
            <p>
                {today}
            </p>
            {representatives.map((rep: { [x: string]: string; }) => 
                <p class="m-0">
                    The Honorable {rep['name']},
                </p>
            )}
        </div>
    </div>
    <div class="grid w-full gap-2 h-48">
        <Textarea id="message" name="message"
            placeholder="On this occasion, I write to you on a topic of grave importance. &mldr;" />
    </div>
    <div class="flow-root">  
        <div class="w-2/3 md:w-1/2 md:float-right">
            <div class="flex md:flex-row flex-col">
                    <Image class="w-1/3" src={profileRef} alt="your photo here"/>
            </div>
            <p>
                Sincerely yours,
            </p>
            <p>
                {address.name}
            </p>
            <Button type="submit">Submit</Button>
            <input type="hidden" id="name" name="name" value={address.name} /> 
            <input type="hidden" id="street" name="street" value={address.street} /> 
            <input type="hidden" id="city" name="city" value={address.city} /> 
            <input type="hidden" id="state" name="state" value={address.state} /> 
            <input type="hidden" id="zipcode" name="zipcode" value={address.zipcode} /> 
            {representatives.map((rep: { [x: string]: string; }, i: number) => 
                <input type="hidden" id={"senator" + i} name={"senator" + i} value={rep['name']} /> 
            )}
        </div>
    </form>
    </div>
</BaseLayout>
