---
import BaseLayout from '../layouts/BaseLayout.astro';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets'
import photoData from '@/scripts/photos.js';
import LetterButton from "@/components/LetterButton.astro"

import CallToAction from '../content/call_to_action.md';
import OnNeutrality from '../content/on_neutrality.md';
import SenatorsWorkForYou from '../content/senators_work_for_you.md';
import HowItWorks from '../content/how_it_works.md';

const ARMS_RAISED = "arms_raised";
const PILES_OF_LETTERS = "piles_of_letters";
const photos = import.meta.glob<{ default: ImageMetadata }>('/src/assets/photos/*.{jpeg,jpg,png,gif}')
if (!photos[photoData[ARMS_RAISED].imgPath]) throw new Error(`"${ARMS_RAISED}" does not exist in glob: "assets/photos/*.{jpeg,jpg,png,gif}"`);
if (!photos[photoData[PILES_OF_LETTERS].imgPath]) throw new Error(`"${PILES_OF_LETTERS}" does not exist in glob: "assets/photos/*.{jpeg,jpg,png,gif}"`);

const pageTitle = "Amplifying Your Voice in Congress";
---
<BaseLayout pageTitle={pageTitle}>
  
  <CallToAction />
  
  <LetterButton />
  
  <div class="mx-auto w-fit">
    <Image
      src={photos[photoData[ARMS_RAISED].imgPath]()}
      alt={photoData[ARMS_RAISED].altText}
      width={640}
      priority={true}
      style="center"
      />
  </div>

  <SenatorsWorkForYou />
  
  <div class="mx-auto w-fit">
    <Image
      src={photos[photoData[PILES_OF_LETTERS].imgPath]()}
      alt={photoData[PILES_OF_LETTERS].altText}
      height={640}
      style="center"
      />
  </div>

  <HowItWorks />
</BaseLayout>
